.LoginButtons, .SignOutButton {
    align-items: center;
    padding-right: 30px;
    min-width: 30px;
}

.UrlsLink {
    margin-right: 10px; 
    color: #000000;
}

.LoginButtons button {
    margin-right: 10px; 
  }