body {
    position: relative;
}

.UrlsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espacio entre las tarjetas */
    justify-items: center;
}